.profile__edit-button {
grid-area: button;
align-self: end;
}

@media (max-width: 320px) {
.profile__edit-button {
margin-left: 10px;
width: 18px;
height: 18px;
}
}

@media (min-width: 321px) {
.profile__edit-button {
margin-left: 18px;
width: 24px;
height: 24px;
}
}