.profile__avatar-border {
width: 127.5px;
height: 127.5px;
  overflow: hidden;
  border-radius: 120px;
}

@media (max-width: 959px) {
.profile__avatar-border {
   margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .profile__avatar-border {
  margin-left: 0;
  }
}