.profile__avatar-border {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 120px;
}

@media (max-width: 959px) {
  .profile__avatar-border {
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .profile__avatar-border {
    margin-left: 0;
  }
}
