.footer {
margin: 0 auto;
max-width: 880px;
}

@media (max-width: 320px) {
  .footer {
padding-left: 5.94%;
padding-right: 5.94%;
    padding-bottom: 11.25%;
  }
}


@media (min-width: 321px) {
  .footer {
padding-left: 15.63%;
padding-right: 15.63%;
padding-bottom: 4.69%;
  }
}