.grid-elements {
display: grid;
grid-template-columns: repeat(auto-fit, 282px);
margin: 0 auto;
max-width: 880px;
justify-content: center;
}

@media (max-width: 500px) {
  .grid-elements {
padding-left: 5.94%;
padding-right: 5.94%;
    padding-bottom: 15%;
gap: 20px 17px;
  }
}


@media (min-width: 501px) {
  .grid-elements {
padding-left: 15.62%;
padding-right: 15.62%;
padding-bottom: 5.16%;
gap: 20px 17px;
  }
}